<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactor</key>
	<array>
		<dict>
			<key>no</key>
			<integer>1</integer>
			<key>name</key>
			<string>chara1_name</string>
			<key>detail</key>
			<string>キャラクター１の説明です</string>
			<key>image_stand</key>
			<string>chara01_front_stand</string>
		</dict>
		<dict>
			<key>no</key>
			<integer>2</integer>
			<key>name</key>
			<string>chara2_name</string>
			<key>detail</key>
			<string>キャラクター２の説明です</string>
			<key>image_stand</key>
			<string>chara02_front_stand</string>
		</dict>
		<dict>
			<key>no</key>
			<integer>3</integer>
			<key>name</key>
			<string>chara3_name</string>
			<key>detail</key>
			<string>キャラクター３の説明です</string>
			<key>image_stand</key>
			<string>chara03_front_stand</string>
		</dict>
	</array>
</dict>
</plist>
