<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactor</key>
	<array>
		<dict>
			<key>no</key>
			<integer>1</integer>
			<key>name</key>
			<string>chara01_name.png</string>
			<key>detail</key>
			<string>ピヨ♪</string>
			<key>image_stand</key>
			<string>chara01_front_stand.png</string>
		</dict>
		<dict>
			<key>no</key>
			<integer>2</integer>
			<key>name</key>
			<string>chara02_name.png</string>
			<key>detail</key>
			<string>・・・</string>
			<key>image_stand</key>
			<string>chara02_front_stand.png</string>
		</dict>
		<dict>
			<key>no</key>
			<integer>3</integer>
			<key>name</key>
			<string>chara03_name.png</string>
			<key>detail</key>
			<string>コケッ！</string>
			<key>image_stand</key>
			<string>chara03_front_stand.png</string>
		</dict>
	</array>
</dict>
</plist>
